<div class="level">
  <div class="level-left">
  <h1 class="title is-2"><%= @channel.channel %></h1>
  </div>
  <div class="level-right">
  <% if has_role?(:admin) %>
    <%= link_to 'Edit Channel', edit_channel_path(@channel), class:"button" %>
  <% end %>
  </div>
</div>
<hr />

<div class="columns">
 <%= render 'shared/discussions' %>
 <%= render 'discussions/sidebar' %>
</div>

