<%= simple_form_for([@discussion, @discussion.replies.build], remote: true) do |f| %>

<div class="field">
  <div class="control">
    <%= f.input :reply, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
  </div>
</div>

<%= f.button :submit, 'Leave a reply', class:'button is-info' %>

<% end %>