<div class="column is-3 is-offset-1">
  <h3 class="title is-5 has-text-grey-light">Channels</h3>

  <ul class="list">
    <% @channels.each do |c| %>
    <li><%= link_to c.channel, c %></li>
    <% end %>
  </ul>

  <br/>

  <% if has_role?(:admin) %>
  <%= link_to 'New Channel', new_channel_path, class:'button is-info' %>
  <% end %>

</div>